
:root {
  --primary-color: #003699; 
}

body {
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  font-family: Bradley Hand, cursive;
  background-color: lightcyan

}
#player-choice{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: var(--primary-color);
}

#result {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
