:root {
  --primary-color: #003699;
}

body {
  text-align: center;
  font-size: 25px;
  font-family: Bradley Hand, cursive;
  background-color: lightcyan;
}

#player-choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: var(--primary-color);
}

#result {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#score {
  margin-left: 8rem;
  margin-right: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: #fff;
  background: var(--primary-color);
  border-radius: 10px;
  grid-gap: 2rem;
}

#restart {
  background: var(--primary-color);
  color: #fff;
  font-family: Bradley Hand, cursive;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}